{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home Page{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
        <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
        <!--                                                          carousel slide -->
            <section class="container-fluid no-gutters">
                <div class="row">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide d-block col-8 offset-2 col-lg-6 offset-lg-3 logo mt-3" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleDark" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="1"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="2"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="3"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="4"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="5"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="6"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="7"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <!--                                  Activewear Worthington 3/4-Sleeve Button-Front Oxford Shirt - Petite 0-->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Worthington 3/4-Sleeve Button-Front Oxford Shirt - Petite</h6>
                                </div>
                                <img src="/media/DP0526201623053167C.jpg" class="d-block w-100" alt="Worthington 3/4-Sleeve Button-Front Oxford Shirt - Petite" />
                            </div>
                            <div class="carousel-item">
                                <!--                                     Jeans Stylus Destructed Roll-Cuff Boyfriend Crop Jeans 1-->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Stylus Destructed Roll-Cuff Boyfriend Crop Jeans</h6>
                                </div>
                                <img src="/media/DP1223201517040398M.jpg" class="d-block w-100" alt="Stylus Destructed Roll-Cuff Boyfriend Crop Jeans" />
                            </div>
                            <div class="carousel-item">
                                <!--                                    Shirts Dickies Heavyweight Fleece Full Zip HoodieBig & Tall 2-->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Dickies Heavyweight Fleece Full Zip HoodieBig & Tall</h6>
                                </div>
                                <img src="/media/DP1108201317050996M.jpg" class="d-block w-100" alt="Dickies Heavyweight Fleece Full Zip HoodieBig & Tall" />
                            </div>
                            <div class="carousel-item">
                                <!--                                 bed and bath Madison Park Lavinia 6-pc. Quilted Coverlet Set 3-->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Madison Park Lavinia 6-pc. Quilted Coverlet Set</h6>
                                </div>
                                <img src="/media/DP0714201504201760M.jpg" class="d-block w-100" alt="Madison Park Lavinia 6-pc. Quilted Coverlet Set" />
                            </div>
                            <div class="carousel-item">
                                <!--                                       Kithchen and dining Simply Calphalon Enameled Cast Iron Panini Pan 4-->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Simply Calphalon Enameled Cast Iron Panini Pan</h6>
                                </div>
                                <img src="/media/DP1115201210371197C.jpg" class="d-block w-100 food-menu-imges no-gutters" alt="Simply Calphalon Enameled Cast Iron Panini Pan" />
                            </div>
                            <div class="carousel-item">
                                <!--                                      New Arrivals by&by Spaghetti Strap Crochet Inset Waist Dress 5 -->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">by&by Spaghetti Strap Crochet Inset Waist Dress</h6>
                                </div>
                                <img src="/media/DP0421201617033514M.jpg" class="d-block w-100 food-menu-imges no-gutters" alt="by&by Spaghetti Strap Crochet Inset Waist Dress" />
                            </div>
                            <div class="carousel-item">
                                <!--                                                  Deals Silver Superman Shield Cufflinks 6 -->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Silver Superman Shield Cufflinks</h6>
                                </div>
                                <img src="/media/DP0917201317033820M.jpg" class="d-block w-100 food-menu-imges no-gutters" alt="Silver Superman Shield Cufflinks" />
                            </div>
                            <div class="carousel-item">
                                <!--                                                  Clearance Vieste Green Stone Statement Necklace 7 -->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Vieste Green Stone Statement Necklace</h6>
                                </div>
                                <img src="/media/DP0810201517010458M.jpg" class="d-block w-100 food-menu-imges no-gutters" alt="Vieste Green Stone Statement Necklace" />
                            </div>

                        </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span>Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span>Next</span>
                            </button>
                        </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}