{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home Page{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
        <!--                                                          carousel slide -->
            <section class="container-fluid no-gutters">
                <div class="row">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide d-block col-8 offset-2 col-lg-10 offset-lg-1 logo mt-3" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleDark" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="1"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="2"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="3"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="4"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="5"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="6"></li>
                            <li data-target="#carouselExampleDark" data-slide-to="7"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <!--                                  Activewear Worthington 3/4-Sleeve Button-Front Oxford Shirt - Petite 0-->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Worthington 3/4-Sleeve Button-Front Oxford Shirt - Petite</h6>
                                </div>
                                <img src="/media/DP0526201623053167C.jpg" class="d-block w-100" alt="Worthington 3/4-Sleeve Button-Front Oxford Shirt - Petite" />
                            </div>
                            <div class="carousel-item">
                                <!--                                     Jeans Stylus Destructed Roll-Cuff Boyfriend Crop Jeans 1-->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Stylus Destructed Roll-Cuff Boyfriend Crop Jeans</h6>
                                </div>
                                <img src="/media/DP1223201517040398M.jpg" class="d-block w-100" alt="Stylus Destructed Roll-Cuff Boyfriend Crop Jeans" />
                            </div>
                            <div class="carousel-item">
                                <!--                                    Shirts Dickies Heavyweight Fleece Full Zip HoodieBig & Tall 2-->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Dickies Heavyweight Fleece Full Zip HoodieBig & Tall</h6>
                                </div>
                                <img src="/media/DP1108201317050996M.jpg" class="d-block w-100" alt="Dickies Heavyweight Fleece Full Zip HoodieBig & Tall" />
                            </div>
                            <div class="carousel-item">
                                <!--                                 bed and bath Madison Park Lavinia 6-pc. Quilted Coverlet Set 3-->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Madison Park Lavinia 6-pc. Quilted Coverlet Set</h6>
                                </div>
                                <img src="/media/DP0714201504201760M.jpg" class="d-block w-100" alt="Madison Park Lavinia 6-pc. Quilted Coverlet Set" />
                            </div>
                            <div class="carousel-item">
                                <!--                                       Kithchen and dining Simply Calphalon Enameled Cast Iron Panini Pan 4-->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Simply Calphalon Enameled Cast Iron Panini Pan</h6>
                                </div>
                                <img src="/media/DP1115201210371197C.jpg" class="d-block w-100" alt="Simply Calphalon Enameled Cast Iron Panini Pan" />
                            </div>
                            <div class="carousel-item">
                                <!--                                      New Arrivals by&by Spaghetti Strap Crochet Inset Waist Dress 5 -->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">by&by Spaghetti Strap Crochet Inset Waist Dress</h6>
                                </div>
                                <img src="/media/DP0421201617033514M.jpg" class="d-block w-100" alt="by&by Spaghetti Strap Crochet Inset Waist Dress" />
                            </div>
                            <div class="carousel-item">
                                <!--                                                  Deals Silver Superman Shield Cufflinks 6 -->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Silver Superman Shield Cufflinks</h6>
                                </div>
                                <img src="/media/DP0917201317033820M.jpg" class="d-block w-100" alt="Silver Superman Shield Cufflinks" />
                            </div>
                            <div class="carousel-item">
                                <!--                                                  Clearance Vieste Green Stone Statement Necklace 7 -->
                                <div class="carousel-caption">
                                    <h6 class="text-black bg-white d-none d-sm-block">Vieste Green Stone Statement Necklace</h6>
                                </div>
                                <img src="/media/DP0810201517010458M.jpg" class="d-block w-100" alt="Vieste Green Stone Statement Necklace" />
                            </div>

                        </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span>Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span>Next</span>
                            </button>
                        </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}