{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home Page{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
        <!--                                                          carousel slide -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-5 col-md-6">
            <p class="logo-font font-weight-bold text-black mt-3 center">About Us</p>
        </div>
        <div id="carouselExampleDark" class="carousel carousel-dark slide  d-none d-sm-block col-12 col-sm-7 col-md-6 p-0" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleDark" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleDark" data-slide-to="1"></li>
                <li data-target="#carouselExampleDark" data-slide-to="2"></li>
                <li data-target="#carouselExampleDark" data-slide-to="3"></li>
                <li data-target="#carouselExampleDark" data-slide-to="4"></li>
                <li data-target="#carouselExampleDark" data-slide-to="5"></li>
                <li data-target="#carouselExampleDark" data-slide-to="6"></li>
                <li data-target="#carouselExampleDark" data-slide-to="7"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!--                                  kashke bademjan-->
                    <div class="carousel-caption">
                        <h6 class="text-black bg-white d-none d-sm-block">Kashke bademjan</h6>
                    </div>
                    <img src="/media/Kashke-bademjan.jpg" class="d-block w-100 carousel-img" alt="Kashke-bademjan" />
                </div>
                <div class="carousel-item">
                    <!--                                     Khoreshte fesenjoon-->
                    <div class="carousel-caption">
                        <h6 class="text-black bg-white d-none d-sm-block">Khoreshte fesenjoon</h6>
                    </div>
                    <img src="/media/Khoreshte-fesenjoon.jpg" class="d-block w-100 carousel-img" alt="Khoreshte fesenjoon" />
                </div>
                <div class="carousel-item">
                    <!--                                    noone khamei-->
                    <div class="carousel-caption">
                        <h6 class="text-black bg-white d-none d-sm-block">Noone kamei</h6>
                    </div>
                    <img src="/media/Noone-khamei.jpg" class="d-block w-100 carousel-img" alt="Noone khamei" />
                </div>
                <div class="carousel-item">
                    <!--                                 araghe bidmeshk-->
                    <div class="carousel-caption">
                        <h6 class="text-black bg-white d-none d-sm-block">Araghe bidmeshk</h6>
                    </div>
                    <img src="/media/Araghe-bidmeshk.jpg" class="d-block w-100 carousel-img" alt="Araghe bidmeshk" />
                </div>
                <div class="carousel-item">
                    <!--                                       white russen -->
                    <div class="carousel-caption">
                        <h6 class="text-black bg-white d-none d-sm-block">White russian</h6>
                    </div>
                    <img src="/media/White-russian.jpg" class="d-block w-100 carousel-img" alt="White russian" />
                </div>
                <div class="carousel-item">
                    <!--                                      espresso -->
                    <div class="carousel-caption">
                        <h6 class="text-black bg-white d-none d-sm-block">Espresso</h6>
                    </div>
                    <img src="/media/Espresso.jpg" class="d-block w-100 carousel-img" alt="Espresso" />
                </div>
                <div class="carousel-item">
                    <!--                                                  watermelon juice -->
                    <div class="carousel-caption">
                        <h6 class="text-black bg-white d-none d-sm-block">Watermelon juice</h6>
                    </div>
                    <img src="/media/Watermelon-juice.jpg" class="d-block w-100 carousel-img" alt="Watermelon juice" />
                </div>

            </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span>Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span>Next</span>
                </button>
            </div>
    </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}